<ul class="single-page-menu">
    <li id="properties_li">
        <a href="/dashboard/assets/properties">Nieruchomości</a>
    </li>
    <li id="machines">
        <a href="#">Maszyny</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>