<h3>Częste pytania</h3>
<hr>

<div class="box2">
    <ul class="faq-list">
        <li>
            <div class="main-item">
                <span class="b">1.</span> Ile wynosi okres rozliczeniowy?
            </div>
            <div class="sub-menu">
                Okres rozliczeniowy liczony jest od 16 dnia poprzedniego miesiąca do dnia 15 aktualnego miesiąca.
            </div>
        </li>
        <li>
            <div class="main-item">
                <span class="b">2.</span> Ile mogę inwestować?
            </div>
            <div class="sub-menu">
                Nie ma wyznaczonych minimalnych wpłat do zbiórek. Kwota inwestycji nie może jednak przekraczać sumy, jakiej brakuje do osiągnięcia 100% celu danej zbiórki.
            </div>
        </li>
        <li>
            <div class="main-item">
                <span class="b">3.</span> Czy jeśli zechcę mogę wycofać swoje środki ze zbiórki?
            </div>
            <div class="sub-menu">
                Dopóki wartość wpłat na aktualną zbiórkę nie osiągnie 100% celu można w każdej chwili wypłacić całość lub część wpłaconych wcześniej środków.
            </div>
        </li>
        <li>
            <div class="main-item">
                <span class="b">4.</span> Czy jako uczestnik systemu muszę brać udział we wszystkich zbiórkach?
            </div>
            <div class="sub-menu">
                Nie. A Twój nominalny zysk netto nigdy nie ulegnie zmniejszeniu z tytułu nie uczestnictwa w kolejnych zbiórkach. To kiedy i ile inwestujesz zależy tylko od Ciebie.
            </div>
        </li>
        <li>
            <div class="main-item">
                <span class="b">5.</span> Jest 17 dzień miesiąca. Kiedy otrzymam swój zysk?
            </div>
            <div class="sub-menu">
                Dajemy sobie 3 dni na sprawdzenie czy wszystko poprawnie zostało wyliczone. Zysk zostanie zatem przesłany maksymalnie do 18 dnia aktualnego miesiąca.
            </div>
        </li>
    </ul>
</div>