<h3>Informacje ogólne</h3>
<hr>

<div class="box2 w-medium" style="margin-bottom: 4rem">
    <p>MoneyU to przede wszystkim system inwestycyjny do grupowego inwestowania w nieruchomości.</p>
    <p>Nieruchomości są finansowane ze zbiórek. Udział w zbiórkach może wziąć każdy zarejestrowany użytkownik. Zbiórki tworzone są przez Administratora systemu.</p>
    <p>Kupujemy nieruchomości tylko i wyłącznie pod wynajem (nie handlujemy nimi - nie robimy tak zwanych flipów). Następnie co miesiąc rozliczamy czynsz z każdego mieszkania/lokalu usługowego, sumujemy wszystkie wpływy w danym okresie rozliczeniowym, odejmujemy koszty i co miesiąc 16-18 dnia miesiąca rozsyłamy zyski inwestorom (użytkownikom, którzy wzięli udział w choćby jednej zbiórce).</p>
    
    <h4>Przykład jak to działa:</h4>
    <hr>
    <p>Załóżmy, że startujemy od 0 i chcemy kupić pierwszą nieruchomość powiedzmy kawalerkę. Dla uproszczenia całkowity koszt inwestycji niech wyniesie <strong>150 000,00 zł</strong>.</p>
    <p>Pobierany czynsz niech wyniesie <strong>1 000,00 zł</strong> a zysk netto <strong>500,00 zł</strong>.</p>
    <p>A więc tworzymy zbiórkę o budżecie <strong>150 000,00 zł</strong>.</p>
    <p>Dla uproszczenia powiedzmy, że udział wzięło <strong>3</strong> inwestorów, (nazwijmy ich a, b i c) którzy wpłacili po <strong>50 000,00 zł</strong>. (oczywiście mogłoby by to być <strong>1000</strong> inwestorów po <strong>150,00 zł</strong> bo taki jest właśnie sens naszego systemu)</p>
    <p>Zatem udziały każdego z tych <strong>3</strong> inwestorów wynosić będą <strong>~33,33%</strong></p>
    <p>Miesięczny nomilny zysk każdego z nich wynosić będzie zatem <strong>166,65 zł</strong> (taki transfer otrzymywać będą co miesiąc od operatora MoneyU na swoje subkonto).</p>
    <h4>Druga kawalerka</h4>
    <hr>
    <p>Ok rozwijamy się i chcemy kupić drugą nieruchomość. Dla przejrzystości sytuacji powiedzmy, że parametry drugiej nieruchomości będą identyczne jak w pierwszej a zatem:</p>
    <ul>
        <li>Koszt inwestycji: <strong>150 000,00 zł</strong></li>
        <li>Pobierany czynsz: <strong>1 000,00 zł</strong></li>
        <li>Zysk netto: <strong>500,00 zł</strong></li>
    </ul>
    <p>Tworzymy więc drugą zbiórkę z wnioskowanym budżetem <strong>150 000, 00 zł</strong></p>
    <p>Tym razem jednak powiedzmy, że inwestor <strong>a</strong> nie wziął w ogóle udziału. Inwestorzy b i c wpłacili ponownie po <strong>50 000, 00 zł</strong> oraz doszli dwaj nowi inwestorzy (d i e), którzy wpłacili po <strong>25 000,00 zł</strong>.</p>
    <p>Po zakupie i zaksięgowaniu tej drugiej kawalerki w naszym systemie liczba aktywów i zysk netto się podwoją. Sytuacja inwestorów będzie zaś następująca:</p>
    <table class="table1 income_table b center">
        <tbody>
            <tr>
                <th>Inwestor</th>
                <th>Kapitał</th>
                <th>Udziały</th>
                <th>Nomilany zysk netto</th>
            </tr>
            <tr>
                <td>a</td>
                <td>50 000,00 zł</td>
                <td>~16,66%</td>
                <td>166,65 zł</td>
            </tr>
            <tr>
                <td>b</td>
                <td>100 000,00 zł</td>
                <td>~33,33%</td>
                <td>333,32 zł</td>
            </tr>
            <tr>
                <td>c</td>
                <td>100 000,00 zł</td>
                <td>~33,33%</td>
                <td>333,32 zł</td>
            </tr>
            <tr>
                <td>d</td>
                <td>25 000,00 zł</td>
                <td>~8,33%</td>
                <td>83,32 zł</td>
            </tr>
            <tr>
                <td>e</td>
                <td>25 000,00 zł</td>
                <td>~8,33%</td>
                <td>83,32 zł</td>
            </tr>
        </tbody>
    </table>

    <p>Zauważmy, że udziały inwestora <strong>a</strong> zmieniły się proporcjonalnie do nowej wartości aktywów, która została podwojona przez drugą kawalerkę a zatem jego udziały zmalały o połowę na korzyść dwóch nowych inwestorów (d i e). Obejmują one jednak teraz oba aktywa a zatem jego nomilnalny zysk netto nie uległ zmianie zaś inwestorów b i c, którzy doinwestowali odpowiednio podwoił się.</p>
    <p>Takie działanie systemu daje każdemu z uczestników bardzo ważną z punktu widzenia zarówno zabezpieczenia emerytalnego jak również inwestowania w ogóle: DYWERSYFIKACJĘ a zatem bezpieczeństwo kapitału. Im więcej nieruchomości kupimy tym mniejsze ryzyko całego przedsięwzięcia a Twoja emerytura tym pewniejza.</p>


</div>