<h3>Misja</h3>
<hr>

<div class="box2"><strong>Dostarczyć możliwość inwestowania w nieruchomości każdemu bez względu na to jakimi możliwościami finansowymi dysponuje.</strong></div>

<div class="box admin-text">
    <p>
    Chciałbym aby MoneyU ze względu na rodzaj aktywów, na którym będzie bazował mógł służyć jako program emerytalny. Uważam, że na polskim rynku obecnie nie ma sensownych programów, które można by było bez ryzyka traktować jako zabezbieczenie emerytalne. Odnieśmy się na przykład do ZUSu. Cóż to nawet nie jest program inwestycyjny tylko podatek, który płaci się w zamian za obietnicę ściągnięcia takiego samego podatku z następnego pokolenia. Gdyby ktoś chciał wypłacić środki z tak zwanego swojego konta to nie może tego zrobić ponieważ ich tam nie ma. To co tam jest to tylko zapisy a więc Twoja emerytura w ZUSowym systemie jest czysto papierowa.</p>

    <p>Mamy więc tu zasadniczą różnicę ponieważ u nas Twoja emerytura to prawdziwe udziały w rzeczywistych nieruchomościach. Zysk ze swojego kapitału masz co miesiąc a nie dopiero po 30-40 latach.</p>
    <p class="signature">Administrator</p>
</div>