<ul class="single-page-menu">
    <li id="information_li">
        <a href="/dashboard/information">Ogólne</a>
    </li>
    <li id="information_regulamin_li">
        <a href="/dashboard/information/regulamin">Regulamin</a>
    </li>
    <li id="information_faq_li">
        <a href="/dashboard/information/faq">FAQ</a>
    </li>
    <li id="information_mission_li">
        <a href="/dashboard/information/mission">Misja</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>