<h3>Polityka prywaności</h3>
<hr>

<div class="box2 w-medium" style="margin-bottom: 4rem">

<h4>Dane osobowe oraz informacje zawarte w profilu</h4>
<p>Nie udostępniamy danych osobowych ani żadnych innych informacji umieszczonych w profilach naszych użytkowników osobom trzecim.</p>
<p>Wszelkie informacje dotyczące naszych użytkowników są odpowiednio zabezpieczone zgodnie z obowiązującymi przepisami oraz należną starannością.</p>
<p>Każde wprowadzone przez użytkownika dane, można bezpiecznie usunąć z naszych baz danych. Wystarczy skontaktować  się z w tym celu z Administratorem systemu</p>
<p>Informacje o naszych użytkownikach przetwarzamy wyłącznie w celach dalszego rozwoju serwisu. Na przykład zweryfikowani użytkownicy mogą składać zamówienia na nasze produkty.</p>

<h4>SPAM</h4>
<p>Użytkownicy naszego serwisu nie otrzymują spamu, a więc niechcianych treści przesyłanych sprzecznie z prawem polskim. (Nie rozsyłamy żadnych ofert ani drogą elektroniczną ani telefoniczną.</p>

</div>