<ul class="single-page-menu">
    <li id="my_products_li">
        <a href="/dashboard/my-products">Moje produkty</a>
    </li>
    <li id="properties_li">
        <a href="/dashboard/products/properties">Mieszkania</a>
    </li>
</ul>

<span id="page" style="display:none"><%= page %></span>