<ul class="single-page-menu">
    <li id="money_li">
        <a href="/dashboard/money">Aktualny okres</a>
    </li>
    <li id="money_history_li">
        <a href="/dashboard/money/history">Historia</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>