<ul class="single-page-menu">
    <li id="pools_currentPool_li">
        <a href="/dashboard/pools">Aktualna zbiórka</a>
    </li>
    <li id="pools_history_li">
        <a href="/dashboard/pools/history">Historia zbiórek</a>
    </li>
</ul>

<span id="page" style="display:none"><%= page %></span>