
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.58/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.58/vfs_fonts.js"></script>
<script src="https://moneyu.nazwa.pl/functions.js"></script>
<script src="/js/backend.js"></script>
</body>
</html>