<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="description" content="3000 najczęściej używanych słówek w języku angielskim i inteligentny samouczący się skypt, z którym można rozmawiać po angielsku zapewnią Ci szybkie opanowanie języka angielskiego!">
    <meta name="keywords" content="angielski nauka, nauka angielskiego, kurs angielskiego, słówka
    angielskie, angielski on-line, 3000 angielskich słówek">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <meta http-equiv=”content-language” content="pl" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Prawdziwe inwestowanie</title>
    
    <meta property="og:type" content="website"> 
    <meta property="og:url" content="https://invest.moneyu.pl/"> 
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">

    <!-- Vendor --> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Site -->
    <link rel="stylesheet" href="/css/global/common.css">
    <link rel="stylesheet" href="/css/global/alerts.css">
    <link rel="stylesheet" href="/css/global/buttons.css">
    <link rel="stylesheet" href="/css/global/forms.css">
    <link rel="stylesheet" href="/css/global/loader.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <link rel="stylesheet" href="/css/backend/dashboard-header.css"">
    <link rel="stylesheet" href="/css/backend/dashboard-menu.css">
    <link rel="stylesheet" href="/css/backend/single-page-menu.css">
    <link rel="stylesheet" href="/css/backend/current-pool.css">
    <link rel="stylesheet" href="/css/backend/pools-list.css">
    <link rel="stylesheet" href="/css/backend/comments.css">
    <link rel="stylesheet" href="/css/backend/operations-history.css">
    <link rel="stylesheet" href="/css/backend/send_money.css">
    <link rel="stylesheet" href="/css/backend/admin.css">
    <link rel="stylesheet" href="/css/backend/assets.css">
    <link rel="stylesheet" href="/css/backend/income_table.css">
</head>

<body>
    <span style="display: none" id="user_id"><%= user._id %></span>
    <span style="display: none" id="user_username"><%= user.username %></span>

    <div id="confirmBox-wrapper" class="opacity"></div>