.alert,
.form-alert{
    position: relative;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert{
    padding: .75rem;
    margin: .5rem 0;
    font-weight: 700;
    text-align: center;
}

.form-alert{
    display: flex;
    align-items: center;
    top: 0;
    padding: 0 1.05rem;
    margin-bottom: 1rem;
    min-height: 38px;
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success{
    background: rgba(149, 244, 117, .9);
    color: rgb(26, 90, 5);
}

.liveValidateMessage{
    top: -.3rem;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-out;
    transform: translateY(100%);
}

.liveValidateMessage--visible{
    opacity: 1;
    transform: translateY(-18%);
}

.small{
    font-size: 60%;
}
