/* Buttons */
.btn {
    display: inline-block;
    background: #0599dd;;
    color: #fff;
    padding: .4rem .8rem;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
    border: 0;
    cursor: pointer; 
}

.btn:hover {
    opacity: 0.9;
}

.btn i {
    margin-left: 6px;
}

/* Buttons sizes */
.btn-sm {
    font-size: 14px;
    padding: 8px 12px;
}

.btn-lg {
    font-size: 22px;
    padding: 16px 28px;   
}

/* Buttons colors */
.btn-gray {
    background: #808080;
    color: #fff;
}

.btn-green{
    background: rgb(65, 216, 78);
}

.btn-yellow {
    background: #ffe522;
    color: #333;
}

@media (max-width: 770px) {

    .intro-text{
        top: 8%;
    }
}

















