<ul class="single-page-menu">
    <li id="admin_index_li">
        <a href="/dashboard/admin">Sprawy</a>
    </li>
    <li id="admin_pools_li">
        <a href="/dashboard/admin/pools">Zbiórki</a>
    </li>
    <li id="admin_orders_li">
        <a href="/dashboard/admin/orders">Zamówienia</a>
    </li>
    <li id="admin_inpayments_li">
        <a href="/dashboard/admin/inpayments">Wpłaty</a>
    </li>
    <li id="admin_users_li">
        <a href="/dashboard/admin/users">Użytkownicy</a>
    </li>
    <li id="admin_notifications_li">
        <a href="/dashboard/admin/notifications">Powiadomienia</a>
    </li>
    <li>
        <a href="/dashboard/admin/add-income">Zaksięguj przychód</a>
    </li>
    <li id="admin_add_asset_li">
        <a href="/dashboard/admin/assets">Dodaj aktywo</a>
    </li>
</ul>

<hr>