<ul class="single-page-menu">
    <li id="admin_pools_index_li">
        <a href="/dashboard/admin/pools">Zbiórki</a>
    </li>
    <li id="admin_pools_create_li">
        <a href="/dashboard/admin/pools_create">Utwórz nową zbiórkę</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>