<h3>Zmiana hasła do konta</h3>
<hr>

<%- include('../../../frontend/includes/flash.ejs') %>

<form action="/dashboard/changePassword" method="POST">

    <div class="form-group">
        <label for="currentPassword">Podaj aktualne hasło</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
    </div>

    <div class="form-group">
        <label for="newPassword">Nowe hasło</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>

    <div class="form-group">
        <label for="newPasswordRepeat">Potwierdź nowe hasło</label>
        <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" required>
    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <button class="btn">Zaktualizuj</button>
</form>