<ul class="single-page-menu">
    <li id="my_orders_li">
        <a href="/dashboard/assets/properties">Moje zamówienia</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>