<ul class="single-page-menu">
    <li id="subkonto_history_li">
        <a href="/dashboard/subkonto">Historia</a>
    </li>
    <li id="send_money_li">
        <a href="/dashboard/subkonto/send_money">Wyślij pieniądze</a>
    </li>
    <li id="inpay_li">
        <a href="/dashboard/subkonto/inpay">Wpłać</a>
    </li>
</ul>

<hr>

<span id="page" style="display:none"><%= page %></span>
