<h3>Wyślij pieniądze</h3>

<%- include('../../../frontend/includes/flash.ejs') %>

<div class="send_money">

    <form id="transfer-form" action="/dashboard/transfer/create" method="POST">
        <label for="username">Podaj nazwę użytkownika, któremu chcesz przesłać pieniądze</label>
        <input type="text" id="username" name="recipient_username" required>

        <label for="amount">Podaj kwotę</label>
        <input type="number" id="amount" name="amount" min="0.01" step="0.01" required>

        <label for="title">Tytuł</label>
        <textarea name="title" id="title" cols="30" rows="2" required></textarea>

        <input type="hidden" id="author_id" name="author_id" value="<%= user._id %>">
        <input type="hidden" name="author_username" value="<%= user.username %>">
        <input type="hidden" id="password" name="password">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button class="btn">Prześlij</button>
    </form>

</div>